<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icusin.dao.mapper.CusinInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.icusin.dao.entity.CusinInfoDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_ref_id" jdbcType="INTEGER" property="userRefId" />
    <result column="cusin_name" jdbcType="VARCHAR" property="cusinName" />
    <result column="cusin_sex" jdbcType="TINYINT" property="cusinSex" />
    <result column="cusin_birthday" jdbcType="DATE" property="cusinBirthday" />
    <result column="cusin_career" jdbcType="VARCHAR" property="cusinCareer" />
    <result column="cusin_photo" jdbcType="CHAR" property="cusinPhoto" />
    <result column="cusin_add" jdbcType="VARCHAR" property="cusinAdd" />
    <result column="area_ref_id" jdbcType="INTEGER" property="areaRefId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="cusin_perms" jdbcType="TINYINT" property="cusinPerms" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="rel_ref_id" jdbcType="INTEGER" property="relRefId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_ref_id, cusin_name, cusin_sex, cusin_birthday, cusin_career, cusin_photo, 
    cusin_add, area_ref_id, gmt_create, gmt_modified, cusin_perms, status, rel_ref_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cusin_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.icusin.dao.entity.CusinInfoDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cusin_info (user_ref_id, cusin_name, cusin_sex, 
      cusin_birthday, cusin_career, cusin_photo, 
      cusin_add, area_ref_id, gmt_create, 
      gmt_modified, cusin_perms, status, 
      rel_ref_id)
    values (#{userRefId,jdbcType=INTEGER}, #{cusinName,jdbcType=VARCHAR}, #{cusinSex,jdbcType=TINYINT}, 
      #{cusinBirthday,jdbcType=DATE}, #{cusinCareer,jdbcType=VARCHAR}, #{cusinPhoto,jdbcType=CHAR}, 
      #{cusinAdd,jdbcType=VARCHAR}, #{areaRefId,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{cusinPerms,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{relRefId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.icusin.dao.entity.CusinInfoDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cusin_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userRefId != null">
        user_ref_id,
      </if>
      <if test="cusinName != null">
        cusin_name,
      </if>
      <if test="cusinSex != null">
        cusin_sex,
      </if>
      <if test="cusinBirthday != null">
        cusin_birthday,
      </if>
      <if test="cusinCareer != null">
        cusin_career,
      </if>
      <if test="cusinPhoto != null">
        cusin_photo,
      </if>
      <if test="cusinAdd != null">
        cusin_add,
      </if>
      <if test="areaRefId != null">
        area_ref_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="cusinPerms != null">
        cusin_perms,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="relRefId != null">
        rel_ref_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userRefId != null">
        #{userRefId,jdbcType=INTEGER},
      </if>
      <if test="cusinName != null">
        #{cusinName,jdbcType=VARCHAR},
      </if>
      <if test="cusinSex != null">
        #{cusinSex,jdbcType=TINYINT},
      </if>
      <if test="cusinBirthday != null">
        #{cusinBirthday,jdbcType=DATE},
      </if>
      <if test="cusinCareer != null">
        #{cusinCareer,jdbcType=VARCHAR},
      </if>
      <if test="cusinPhoto != null">
        #{cusinPhoto,jdbcType=CHAR},
      </if>
      <if test="cusinAdd != null">
        #{cusinAdd,jdbcType=VARCHAR},
      </if>
      <if test="areaRefId != null">
        #{areaRefId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cusinPerms != null">
        #{cusinPerms,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="relRefId != null">
        #{relRefId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icusin.dao.entity.CusinInfoDO">
    update cusin_info
    <set>
      <if test="userRefId != null">
        user_ref_id = #{userRefId,jdbcType=INTEGER},
      </if>
      <if test="cusinName != null">
        cusin_name = #{cusinName,jdbcType=VARCHAR},
      </if>
      <if test="cusinSex != null">
        cusin_sex = #{cusinSex,jdbcType=TINYINT},
      </if>
      <if test="cusinBirthday != null">
        cusin_birthday = #{cusinBirthday,jdbcType=DATE},
      </if>
      <if test="cusinCareer != null">
        cusin_career = #{cusinCareer,jdbcType=VARCHAR},
      </if>
      <if test="cusinPhoto != null">
        cusin_photo = #{cusinPhoto,jdbcType=CHAR},
      </if>
      <if test="cusinAdd != null">
        cusin_add = #{cusinAdd,jdbcType=VARCHAR},
      </if>
      <if test="areaRefId != null">
        area_ref_id = #{areaRefId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="cusinPerms != null">
        cusin_perms = #{cusinPerms,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="relRefId != null">
        rel_ref_id = #{relRefId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icusin.dao.entity.CusinInfoDO">
    update cusin_info
    set user_ref_id = #{userRefId,jdbcType=INTEGER},
      cusin_name = #{cusinName,jdbcType=VARCHAR},
      cusin_sex = #{cusinSex,jdbcType=TINYINT},
      cusin_birthday = #{cusinBirthday,jdbcType=DATE},
      cusin_career = #{cusinCareer,jdbcType=VARCHAR},
      cusin_photo = #{cusinPhoto,jdbcType=CHAR},
      cusin_add = #{cusinAdd,jdbcType=VARCHAR},
      area_ref_id = #{areaRefId,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      cusin_perms = #{cusinPerms,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      rel_ref_id = #{relRefId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>