<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icusin.dao.mapper.UserInfoMapper">

    <!-- 基础映射 -->
    <resultMap id="BaseResultMap" type="com.icusin.dao.po.UserInfoPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_account" jdbcType="VARCHAR" property="userAccount"/>
        <result column="user_shadow" jdbcType="CHAR" property="userShadow"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_mobile" jdbcType="CHAR" property="userMobile"/>
        <result column="user_nickname" jdbcType="VARCHAR" property="userNickname"/>
        <result column="user_avatar" jdbcType="CHAR" property="userAvatar"/>
        <result column="user_level" jdbcType="TINYINT" property="userLevel"/>
        <result column="user_integral" jdbcType="SMALLINT" property="userIntegral"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="mark_status" jdbcType="TINYINT" property="markStatus"/>
    </resultMap>

    <!-- 基础选择集 -->
    <sql id="Base_Column_List">
        id, user_account, user_shadow, user_email, user_mobile, user_nickname, user_avatar,
            user_level, user_integral, gmt_modified, gmt_create, mark_status
    </sql>

    <!-- 链接选择集-->
    <sql id="Related_Column_List">
        ui.id, ui.user_account, ui.user_shadow, ui.user_email, ui.user_mobile, ui.user_nickname, ui.user_avatar,
        ui.user_level, ui.user_integral, ui.gmt_modified, ui.gmt_create, ui.mark_status
    </sql>

    <!-- 假删除 -->
    <sql id="Soft_Delete">
        AND mark_status != 0
    </sql>

    <!-- 限制一条数据 -->
    <sql id="Limit_One">
        limit 1
    </sql>

    <!-- 普通插入用户信息 -->
    <insert id="insert" parameterType="com.icusin.dao.po.UserInfoPO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_info (user_account, user_shadow, user_email,
        user_mobile, user_nickname, user_avatar,
        user_level, user_integral, gmt_modified,
        gmt_create, mark_status)
        values (#{userAccount,jdbcType=VARCHAR}, #{userShadow,jdbcType=CHAR}, #{userEmail,jdbcType=VARCHAR},
        #{userMobile,jdbcType=CHAR}, #{userNickname,jdbcType=VARCHAR}, #{userAvatar,jdbcType=CHAR},
        #{userLevel,jdbcType=TINYINT}, #{userIntegral,jdbcType=SMALLINT}, #{gmtModified,jdbcType=TIMESTAMP},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{markStatus,jdbcType=TINYINT})
    </insert>

    <!-- 选择不为空的插入用户信息 -->
    <insert id="insertSelective" parameterType="com.icusin.dao.po.UserInfoPO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userAccount != null">
                user_account,
            </if>
            <if test="userShadow != null">
                user_shadow,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userMobile != null">
                user_mobile,
            </if>
            <if test="userNickname != null">
                user_nickname,
            </if>
            <if test="userAvatar != null">
                user_avatar,
            </if>
            <if test="userLevel != null">
                user_level,
            </if>
            <if test="userIntegral != null">
                user_integral,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="markStatus != null">
                mark_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userAccount != null">
                #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="userShadow != null">
                #{userShadow,jdbcType=CHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userMobile != null">
                #{userMobile,jdbcType=CHAR},
            </if>
            <if test="userNickname != null">
                #{userNickname,jdbcType=VARCHAR},
            </if>
            <if test="userAvatar != null">
                #{userAvatar,jdbcType=CHAR},
            </if>
            <if test="userLevel != null">
                #{userLevel,jdbcType=TINYINT},
            </if>
            <if test="userIntegral != null">
                #{userIntegral,jdbcType=SMALLINT},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="markStatus != null">
                #{markStatus,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!-- 选择不为空的更新用户信息 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.icusin.dao.po.UserInfoPO">
        update user_info
        <set>
            <if test="userAccount != null">
                user_account = #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="userShadow != null">
                user_shadow = #{userShadow,jdbcType=CHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userMobile != null">
                user_mobile = #{userMobile,jdbcType=CHAR},
            </if>
            <if test="userNickname != null">
                user_nickname = #{userNickname,jdbcType=VARCHAR},
            </if>
            <if test="userAvatar != null">
                user_avatar = #{userAvatar,jdbcType=CHAR},
            </if>
            <if test="userLevel != null">
                user_level = #{userLevel,jdbcType=TINYINT},
            </if>
            <if test="userIntegral != null">
                user_integral = #{userIntegral,jdbcType=SMALLINT},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="markStatus != null">
                mark_status = #{markStatus,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 普通更新 -->
    <update id="updateByPrimaryKey" parameterType="com.icusin.dao.po.UserInfoPO">
        UPDATE user_info
        SET user_account  = #{userAccount,jdbcType=VARCHAR},
            user_shadow   = #{userShadow,jdbcType=CHAR},
            user_email    = #{userEmail,jdbcType=VARCHAR},
            user_mobile   = #{userMobile,jdbcType=CHAR},
            user_nickname = #{userNickname,jdbcType=VARCHAR},
            user_avatar   = #{userAvatar,jdbcType=CHAR},
            user_level    = #{userLevel,jdbcType=TINYINT},
            user_integral = #{userIntegral,jdbcType=SMALLINT},
            gmt_modified  = #{gmtModified,jdbcType=TIMESTAMP},
            gmt_create    = #{gmtCreate,jdbcType=TIMESTAMP},
            mark_status   = #{markStatus,jdbcType=TINYINT}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 用户标识符查找用户信息 -->
    <select id="selectByIdentifier" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        <where>

            <!-- 尝试匹配 -->
            <if test="identifier!=null">
                AND (user_account=#{identifier,jdbcType=VARCHAR}
                OR user_email=#{identifier,jdbcType=VARCHAR}
                OR user_mobile=#{identifier,jdbcType=CHAR})
            </if>

            <include refid="Soft_Delete"/>
        </where>
        <include refid="Limit_One"/>
    </select>

    <!-- 用户名查询用户信息 -->
    <select id="selectByUserAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_info
        <where>

            <!-- 尝试匹配 -->
            <if test="userAccount!=null">
                AND user_account=#{userAccount,jdbcType=VARCHAR}
            </if>

            <include refid="Soft_Delete"/>
        </where>
        <include refid="Limit_One"/>
    </select>

    <!-- 假删除用户 -->
    <update id="deleteByPrimaryKey">
        UPDATE user_info
        SET mark_status = 0
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 真删除 -->
    <delete id="deleteByPrimaryKeyDangerously">
        DELETE FROM user_info
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>