<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icusin.dao.mapper.dto.CusinInfoDTOMapper">
    <resultMap id="BaseResultMap" type="com.icusin.dao.entity.dto.CusinInfoDTO"
               extends="com.icusin.dao.mapper.CusinInfoDOMapper.BaseResultMap">
        <result column="rel_name" property="relName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <include refid="com.icusin.dao.mapper.CusinInfoDOMapper.Base_Column_List"/>
    </sql>

    <!-- 后面肯定会链接查询,先准备好-->
    <sql id="Related_Column_List">
    ci.id, ci.user_ref_id, ci.cusin_name, ci.cusin_sex, ci.cusin_birthday, ci.cusin_career, ci.cusin_photo,
    ci.cusin_add, ci.area_ref_id, ci.gmt_create, ci.gmt_modified, ci.cusin_perms,ci.status,ci.rel_ref_id
    </sql>

    <!-- 默认排序 -->
    <sql id="Default_Related_Order_By">
        ORDER BY ci.gmt_create DESC , ci.gmt_modified DESC
    </sql>

    <!-- 列出该用户的所有表亲 -->
    <select id="listCusinInfoByUserInfoId" resultMap="BaseResultMap">
        SELECT
        <include refid="Related_Column_List"/>,
        cr.rel_name AS rel_name
        FROM cusin_info AS ci
        LEFT JOIN cusin_rel AS cr ON ci.rel_ref_id=cr.id
        <where>
            ci.status=1
            <if test="userInfoId!=null">
                AND ci.user_ref_id=#{userInfoId,jdbcType=INTEGER}
            </if>
        </where>
        <include refid="Default_Related_Order_By"/>
    </select>
</mapper>