<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icusin.dao.mapper.dto.MemoirContentDTOMapper">
    <resultMap id="BaseResultMap" type="com.icusin.dao.entity.dto.MemoirContentDTO"
               extends="com.icusin.dao.mapper.MemoirContentDOMapper.BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        <include refid="com.icusin.dao.mapper.MemoirContentDOMapper.Base_Column_List"/>,
        <include refid="com.icusin.dao.mapper.MemoirContentDOMapper.Blob_Column_List"/>
    </sql>

    <!-- 后面肯定会链接查询,先准备好-->
    <sql id="Related_Column_List">
    mc.id, mc.gmt_create, mc.gmt_modified, mc.status,mc.memoir_content
    </sql>

    <!-- 默认排序 -->
    <sql id="Default_Related_Order_By">
        ORDER BY mc.gmt_create DESC , mc.gmt_modified DESC
    </sql>

    <!-- 获取id对应文章 -->
    <select id="getMemoirContentById" resultMap="BaseResultMap">
        SELECT
        <include refid="Related_Column_List"/>
        FROM memoir_content AS mc
        <where>
            mc.status=1
            <!-- 尝试匹配 -->
            <if test="id!=null">
                AND mc.id=#{id,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>
</mapper>