<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icusin.dao.mapper.dto.UserInfoDTOMapper">
    <resultMap id="BaseResultMap" type="com.icusin.dao.entity.dto.UserInfoDTO"
               extends="com.icusin.dao.mapper.UserInfoDOMapper.BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        <include refid="com.icusin.dao.mapper.UserInfoDOMapper.Base_Column_List"/>
    </sql>

    <!-- 后面肯定会链接查询,先准备好-->
    <sql id="Related_Column_List">
    ui.id, ui.user_account, ui.user_shadow, ui.user_email, ui.user_mobile, ui.user_nickname, ui.user_avatar,
    ui.user_level, ui.user_integral, ui.gmt_modified, ui.gmt_create, ui.status
    </sql>

    <select id="getUserInfoByUserName" resultMap="BaseResultMap">
        SELECT
        <include refid="Related_Column_List"/>
        FROM user_info AS ui
        <where>

            <!-- 尝试匹配 -->
            <if test="userName!=null and userName!=''">
                AND (ui.user_account=#{userName,jdbcType=VARCHAR}
                OR ui.user_email=#{userName,jdbcType=CHAR}
                OR ui.user_mobile=#{userName,jdbcType=CHAR})
            </if>
        </where>
        limit 1
    </select>

    <select id="getUserInfoByUserAccount" resultMap="BaseResultMap">
        SELECT
        <include refid="Related_Column_List"/>
        FROM user_info AS ui
        <where>

            <!-- 尝试匹配 -->
            <if test="userAccount!=null and userAccount!=''">
                AND ui.user_account=#{userAccount,jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>
</mapper>